/* TODAS LAS VENTANA*/
.navbar-color{
    background-color: #BBE1C3;    
}
.projectSummary{
    padding: 20px 80px;
}
.title{
   text-align: center;
   color: #434343;
   font-family:'Playfair Display', serif;
   font-size: 50px;

}
.copy{    
    font-family: 'Playfair Display', serif;
    font-size: 15x;
    text-align: center;
}
.subtitle{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    text-align: left 
}
.paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left  
}

/*.img-proyecto{
    height: 50vh;
}*/
.introRecepcion {
    height: 100vh;
}

.p-p {
    padding-bottom: 0px;
    padding-top: 30px;
}

.color-principal {
    color: #659157;
}

body {
    color: #4F6D7A;
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: #4F6D7A;
    font-weight: 500;
  }

a:hover {
    color: #fff;
    text-decoration: none;
}




.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    background: #BBE1C3;
  }
  
  .hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
  }
  
  .hovereffect img {
    display: block;
    position: relative;
    max-width: none;
    width: calc(100% + 20px);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(-10px,0,0);
    transform: translate3d(-10px,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .hovereffect:hover img {
    opacity: 0.4;
    filter: alpha(opacity=40);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
  }
  
  .hovereffect h2:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    content: '';
    -webkit-transition: -webkit-transform 0.35s;
    transition: transform 0.35s;
    -webkit-transform: translate3d(-100%,0,0);
    transform: translate3d(-100%,0,0);
  }
  
  .hovereffect:hover h2:after {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
  
  .hovereffect a, .hovereffect p {
    color: #FFF;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
  }
  
  .hovereffect:hover a, .hovereffect:hover p {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }