/* TODAS LAS VENTANA*/
.navbar-color{
    background-color: #BBE1C3;    
}
.projectSummary{
    padding: 20px 80px;
}
.title{
   text-align: center;
   color: #434343;
   font-family:'Playfair Display', serif;
   font-size: 50px;

}
.copy{    
    font-family: 'Playfair Display', serif;
    font-size: 15x;
    text-align: center;
}
.subtitle{
    font-family: 'Playfair Display', serif;
    font-size: 35px;
    text-align: left 
}
.paragraph{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    text-align: left  
}

/*.img-proyecto{
    height: 50vh;
}*/
.introRecepcion {
    height: 100vh;
}

.p-p {
    padding-bottom: 0px;
    padding-top: 30px;
}

.color-principal {
    color: #659157;
}

body {
    color: #4F6D7A;
    font-family: 'Playfair Display', serif;
}

a {
    text-decoration: none;
    color: #4F6D7A;
    font-weight: 500;
  }

a:hover {
    color: #fff;
    text-decoration: none;
  
  }